.forcelayout_zone {
    border: solid 2px #b3c2bf;
    width: 800px;
    height: 700px;
    border-radius: 5px;
    background-color: white;
}

body {
    padding-top: 20px;
    background: #e9ece5;
    color: #3b3c3c;
}


h1 {
    text-align: center;
}

input {
    margin-bottom: 2px;
}

.target-label {
    margin-left: 15px;
}

.btn {
    padding: 2px 12px;
    background-color: #b3c2bf;
    border-color: #b3c2bf;
}

.entity-submit-btn {
    margin-left: 15px;
}

.visual-row {
    background: #b3c2bf;
    border-radius: 5px;
    height: 700px;
    overflow: scroll;
    margin-right: 10px;
}

.link {
    stroke-opacity: .6;
    stroke-width: 1.5px;
    stroke: #666;
    fill: none;
}

.node_title {
    pointer-events: none;
    font: 10px sans-serif;
}

.name {
    fill: blue;
}

.state {
    fill: red;
}

.navbar-default {
    padding-left: 10px;
    padding-top: 5px;
    font-size: 16px;
    background-color: #3b3c3c;
    color: #e9ece5;
}

.dropdown-menu {
    padding: 1px 0 !important;
}


.dropdown ul:before, .dropdown ul:after {
    text-align: center;
    display: block;
    border-bottom: 0;
    width: 25%;
}


.dropdown li {
    text-align: right;
    width: 25%;
    float: left;
    border: 1px solid white;
    margin-bottom: -1px;
    overflow: hidden;
}

.dropdown li:nth-child(4n+4) {
    margin-left: -1px;
}

.colorpicker {
    display: inline-block;
}
.entity-form {
    width: 60%;
    background: #c0dfd9;
    height: 61px;
}

.create-entity {
    margin: auto;
    width: 90%;
    padding-top: 15px
}

.visual-container {
    margin-top: 20px;
}

.overlay {
    top: 0;
    left: 0;
    position: fixed;
    margin: 0;
    padding: 0;
    opacity: 0.5;
    background-color: grey;
}
.set-metadata-modal-dialog {
  /* A centered div above the overlay with a box shadow. */
  z-index:10000;
  position: fixed;
  width: 100px; /* Default */

  /* Center the dialog */
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);

  background-color: #fff;
}

.set-metadata-modal-dialog-content {
  padding:10px;
  text-align: left;
}
.set-metadata-modal-close {
  position: absolute;
  top: 3px;
  right: 5px;
  padding: 5px;
  cursor: pointer;
  font-size: 120%;
  display: inline-block;
  font-weight: bold;
  font-family: 'arial', 'sans-serif';
}

