.forcelayout_zone {
    border: solid 1px #ccc;
    width: 800px;
    height: 700px;
}

body {
    padding-top: 20px;
}

h1 {
    text-align: center;
}

input {
    margin-bottom: 2px;
}

.btn {
    padding: 4px 12px;
}
.entries_list {
    background: #E6E8FA;
    border-radius: 5px;
    height: 600px;
    overflow: scroll;
}

.link {
    stroke-opacity: .6;
    stroke-width: 1.5px;
    stroke: #666;
    fill: none;
}

.node_title {
    pointer-events: none;
    font: 10px sans-serif;
}

.name {
    fill: blue;
}

.state {
    fill: red;
}

.navbar-default {
    padding-left: 10px;
    padding-top: 5px;
    font-size: 16px;
}

ul {
    width: 90px;
    min-width: 90px !important;
    position: relative;
    list-style-type: none;
    margin: 0;
    padding: 0 4;
    overflow: hidden;
}

.dropdown-menu {
    padding: 1px 0 !importants;
}
ul:before, ul:after {
    text-align: center;
    display: block;
    border-bottom: 0;
    width: 25%;
}


li {
    text-align: right;
    width: 25%;
    float: left;
    border: 1px solid white;
    margin-bottom: -1px;
    overflow: hidden;
}

li:nth-child(4n+4) {
    margin-left: -1px;
}


